<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">

        <header>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Company Logo" class="company-logo">
        </header>
        
        <h1>Visitor Logs</h1>

        <a href="{{ url_for('logout') }}">Logout</a>

        <table>
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Purpose</th>
                    <th>Department</th>
                    <th>Point of Contact</th>
                    <th>Badge Number</th>
                    <th>Check-In Time</th>
                    <th>Check-Out Time</th>
                </tr>
            </thead>
            <tbody>
                {% for visitor in visitors %}
                <tr>
                    <td>
                        {% if visitor.photo_path %}
                        <img src="{{ url_for('uploaded_file', filename=visitor.photo_path) }}" alt="Visitor Photo" class="visitor-photo">
                        {% else %}
                            <span>No Photo</span>
                        {% endif %}
                    </td>
                    <td>{{ visitor.name }}</td>
                    <td>{{ visitor.company_name }}</td>
                    <td>{{ visitor.purpose }}</td>
                    <td>{{ visitor.department }}</td>
                    <td>{{ visitor.personnel }}</td>
                    <td>{{ visitor.badge_number if visitor.badge_number else 'N/A' }}</td>
                    <td>{{ visitor.check_in_time }}</td>
                    <td>{{ visitor.check_out_time if visitor.check_out_time else 'Still Checked In' }}</td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        
        <a href="/">Back to Visitor Check-In</a>
    </div>
</body>
</html>
